* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  background-image: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.hamburger {
  background: none;
  position: relative;
  border: none;
  padding-left: 13px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger__menu-icon {
  font-size: 34px;
  font-weight: bold;
  padding: 10px;
}

.hamburger__close-icon {
  display: none;
  z-index: 100;
  position: absolute;
  color: #131314;
  font-size: 30px;
  font-weight: 900;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 43px;
  padding: 20px 40px;
  list-style: none;
  font-size: 30px;
  font-weight: 800;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.5s;
  background-color: #ec5242;
  z-index: 10;
}

.showMenu {
  transform: translateY(0);
}

.mobile-menu__li {
  cursor: pointer;
}

.mobile-menu__li:hover {
  transform: translateX(-20%);
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 0 20px 60px;
  gap: 10px;
}

h1 {
  color: #ec5242;
}

.headline__p {
  color: #ec5242;
  font-size: 45px;
  font-weight: 900;
}

.headline__box1 {
  background-color: #f7f7f7;
  padding: 10px;
  text-align: left;
  border: 2px solid white;
}

.headline__box2 {
  padding: 20px;
  text-align: left;
}

.headline__box2__h2 {
  font-size: 30px;
  font-weight: 900;
  opacity: 0.7;
}

.headline__box2__p {
  font-size: 18px;
  font-weight: 300;
}

.main-program {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px 16px;
  color: #fefefe;
  background-image: url(img/main-pattern.png);
}

.main-program__grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-program__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.red-bar {
  border: 1px #ec5242 solid;
  width: 35px;
  margin-bottom: 26px;
}

.main-program__box {
  display: flex;
  align-items: center;
  gap: 21px;
  padding: 20px;
  background-color: rgba(59, 62, 69, 0.5);
}

.main-program__box__logo {
  width: 40px;
  height: 40px;
}

.main-program__box__h3 {
  color: #ec5242;
}

.main-program__btn {
  background-color: #ec5242;
  padding: 20px;
  text-align: center;
  font-size: 19px;
}

.feature {
  padding: 30px 0 0;
}

.feature__h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.feature__box {
  display: flex;
  gap: 20px;
  margin: 0 20px;
  padding: 20px;
}

.feature__box__img {
  max-width: 130px;
}

.feature__box__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feature__box__content__p1 {
  color: #ec5242;
  font-weight: 600;
  font-size: 15px;
}

.feature__box__content__p2 {
  font-size: 14px;
}

.more {
  padding: 60px 10px 20px;
}

.more__div {
  border: 1px solid rgb(124, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  gap: 3px;
}

.more__p {
  font-size: 17px;
  font-weight: 400;
}

.more__arrow {
  color: #ec5242;
  font-size: 30px;
  font-weight: 700;
}

/* css of about page */
.headline-about {
  text-align: center;
}

.box1-about {
  text-align: center;
}

.box2-about {
  text-align: center;
  line-height: 26px;
}

.box2-about__p {
  font-weight: 500;
}

.box2-about__mail {
  font-size: 18px;
  font-weight: 700;
}

.cc {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 25px 60px;
  border-bottom: 1px solid #000;
}

.cc__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.cc__p {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
  padding-bottom: 39px;
}

.cc__logo {
  border: 1px solid rgb(218, 212, 212);
  width: 60%;
  align-self: center;
  padding: 20px 10px;
}

.past-cc {
  padding: 20px;
}

.past-cc__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.past-cc__p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.7;
}

.past-cc__box {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-width: 70%;
}

.past-cc__box__box1,
.past-cc__box__box2 {
  position: relative;
  width: 100%;
}

.past-cc__box__img {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-35deg) saturate(600%) contrast(0.8);
  max-width: 100%;
}

.past-cc__box__context {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.partner {
  display: flex;
  flex-direction: column;
  background-color: #414246;
  color: #f7f7f7;
  padding: 30px 10px 30px;
}

.partner__h2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.partner__logo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #fff;
  color: #000000;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-black {
  background-color: #2e2e2e;
  color: #ffffff;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 25px;
}

.footer-flex {
  display: flex;
  width: 70%;
  margin-top: 40px;
  gap: 70px;
}

.footer__logo__img {
  width: 100%;
}

.footer__p {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  width: 80%;
}

.top-nav {
  display: none;
}

.desk-menu {
  display: none;
}

.main-program__btn__desk {
  display: none;
}

.footer-flex__desk {
  display: none;
}

.partner__desk {
  display: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  nav {
    background-color: #3e3e3e;
    color: white;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 40px;
    padding: 5px 180px 5px 0;
    cursor: pointer;
  }

  .desk-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 140px 10px 40px;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgb(189, 184, 184);
  }

  .desk-ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
    cursor: pointer;
  }

  .desk-logo {
    width: 40px;
  }

  .desk-li:hover {
    border: 4px solid #ec5242;
    padding: 5px 15px;
  }

  .headline-main {
    padding: 130px 0 120px 160px;
  }

  h1 {
    font-size: 50px;
    font-weight: 400;
  }

  .headline__p {
    font-size: 60px;
  }

  .headline__box1 {
    width: 50%;
  }

  .headline__box2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .headline__box2__p {
    font-weight: 600;
  }

  .box1 {
    grid-area: one;
  }

  .box2 {
    grid-area: two;
  }

  .box3 {
    grid-area: three;
  }

  .box4 {
    grid-area: four;
  }

  .box5 {
    grid-area: five;
  }

  .main-program__h2 {
    padding-top: 40px;
  }

  .main-program__grid-container {
    display: grid;
    grid-template-areas: 'one two three four five';
    gap: 5px;
    margin: 0 150px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .main-program__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 30px;
  }

  .main-program__btn {
    display: none;
  }

  .main-program__btn__desk {
    display: block;
    color: #f7f7f7;
    text-align: center;
    padding-bottom: 40px;
    cursor: pointer;
    text-decoration: underline;
  }

  .feature__box {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .box10 {
    grid-area: one;
  }

  .box11 {
    grid-area: two;
  }

  .box12 {
    grid-area: three;
  }

  .box13 {
    grid-area: four;
  }

  .box14 {
    grid-area: five;
  }

  .box15 {
    grid-area: six;
  }

  .feature__grid-container {
    display: grid;
    grid-template-areas:
      'one four'
      'two five'
      'three six';
    padding-left: 10%;
    padding-bottom: 50px;
  }

  .more {
    display: none;
  }

  .partner__desk {
    display: flex;
  }

  .footer-flex__desk {
    display: flex;
  }

  .headline-about {
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    gap: 30px;
  }

  .cc {
    padding-top: 40px;
    border-top: 1px solid #e7e7e9;
  }

  .past-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .past-cc__box {
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
